<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2_ai72P0W2CNknOV2hyT59j6Y1Myi6lo</string>
	<key>GCM_SENDER_ID</key>
	<string>302423523968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerce</string>
	<key>PROJECT_ID</key>
	<string>mds-m2-flutter-exotik-ecom</string>
	<key>STORAGE_BUCKET</key>
	<string>mds-m2-flutter-exotik-ecom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302423523968:ios:8e62072dbf71987ee15c65</string>
</dict>
</plist>